# Editor backup/temporary  files
*~
.#*
.*.sw?

# GNU Autotools
/.build/
/Makefile.in
/_build/
/aclocal.m4
/autom4te.cache
/build-aux/install-sh
/build-aux/missing
/config.log
/config.status
/configure
MANIFEST.bak
Makefile
Makefile.old
inc/

# Perl build artefacts
.last_cover_stats
Build
Build.bat
META.yml
MYMETA.yml
blib/
cover_db/
nytprof.out
pm_to_blib

# Generated man pages
*.8

# Debian build artefacts
/debian/*.debhelper
/debian/*.substvars
/debian/.debhelper/
/debian/aptitude-robot/
/debian/autoreconf.*
/debian/debhelper-build-stamp
/debian/files
