#!/bin/sh

echo '----- 90-cleanup: package cache and config file cleanup'

# Purge all packages that have been removed.  In a managed environment we do
# not want to carry around obsolete config files.
#
aptitude -y -q purge '~c'

apt-get clean
dpkg --clear-avail
